*{
    margin: 0;
    padding: 0;
}

body{
    width: 700px;
    margin: 0 auto;
}

.about{
    margin-left: 20px;
}

.information{
    display: flex;
    margin-top: 20px;
}

.info{
    display: flex;
    margin-top: 10px;
}

.image img{
    height: 257px;
}

.info-ot{
    margin-left: 10px;
}

.brain-name{
    margin: 20px 0px;
}

table{
    border: 1px solid;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
}

tr:not(:first-child){
    height: 35px;
}

tr:nth-child(1){
    font-weight: bold;
}

td{
    border: 1px solid #CCCCCC;
}

.inpt{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.inp input{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    padding-left: 5px;
}

.spoiler{
    width: 100%;
    margin-top: 30px;
}

.click{
    display: flex;
    justify-content: center;
}

.spoiler h1{
    display: inline-block;
    cursor: pointer;
}

#spoiler-text{
    display: none;
    margin-top: 50px;
    font-size: 20px;
}

#spoiler-text p{
    margin-bottom: 15px;
}